a.home-article {
    text-decoration: none;
}

.home-article {

    width: 31%;
    float: left;
    height: 300px;
    background: #373F3A;
    margin-right: 3.5%;
    border-top: 1px solid $accent;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    transition: box-shadow .5s;
    margin-bottom: 3.5%;

    @media screen and (min-width: 980px) {
        &:nth-child(3n+3) {
            margin-right: 0;
        }
    }

    @media screen and (max-width: 980px) {
        width: 48.5%;
        margin-right: 3%;
        &:nth-child(even) {
            margin-right: 0;
        }
    }

    @media screen and (max-width: 580px) {
        width: 100%;
        margin-right: 0;
    }

    &:hover {
       box-shadow: 0 0 20px rgba(255,255,255,0.5); 
       transition: box-shadow .5s;
       text-decoration: none;
    }

    &__wrapper {
        max-width: 960px;
        margin: 0 auto; 

        @media screen and (max-width: 980px) {
            padding: 0 1rem;
        }
    }

    &__image {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 90px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        display: block;
        margin: 2rem auto .5rem;
    }

    &__title {
        text-align: center;
        font-size: 1.285rem;
        font-family: $type-bold;
        text-transform: uppercase;
        color: $text-light;
        border-bottom: 1px solid $text-light;
        padding-bottom: .5rem;
        margin: 0 2rem;
        text-decoration: none;
    }

    &__company {
        text-align: center;
        font-size: 1.285rem;
        font-family: $type-reg;
        text-transform: uppercase;
        color: $text-light;
        margin: 0 2rem;
        opacity: 0.6;
        padding: 1rem;
        text-decoration: none;
    }

    &__quote {
        text-align: center;
        font-size: 1.285rem;
        font-family: $type-light;
        color: $text-light;
        opacity: 0.6;
        padding: 0 2rem;
        text-decoration: none;
    }
}

.blog-single {

    .post {
        position: relative;
        border-bottom: 3px solid $accent;
    }

    .entry-image {
        width: 100%;
        display: block;
    }

    .article-wrapper {
        max-width: 1000px;
        width: 85%;
        position: relative;
        top: -56px;
        background: #fff;
        margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
        .article-wrapper {
            font-size: 2em;
            line-height: 1.4em;
        }
        .entry-image {
            height: 550px;
            object-fit: cover;
        }
    }

    .entry-header {
        background: #1b1c1d;
    }

    .entry-title {
        font-family: $header-font;
        font-size: 1.4em;
        color: #fff;
        padding-left: 1rem;
        width: 50%;
        float: left;
        line-height: 50px;  
    }

    .entry-company {
        font-family: $text-font;
        font-size: 1em;
        color: #fff;
        padding-right: 1rem;
        width: 50%;
        float: right;   
        line-height: 56px;  
        text-align: right;   
    }

    .entry-content {
        padding: 1rem;

        img {
            width: 100%;
        }

        blockquote {
            border-top: 3px solid $accent;
            padding-top: 2rem;
            padding-bottom: 1rem;
            border-bottom: 3px solid $accent;
            margin-bottom: 1rem;
            font-size: 2em;
            font-family: $header-font;
            line-height: 1.2em;
        }
    }

    @media screen and (min-width: 768px) {
        .entry-content {
            padding: 2em;
        }
    }

}

// .twitter-share-button {
//     box-shadow: 0 0 20px rgba(0,0,0,0.3);
//     border-radius: 10px;
//     padding: 14px;
//     padding: 1rem;
//     color: #333;
//     font-family: $header-font;
//     margin: 0 auto 4.66rem;
//     width: 185px;
//     display: block;
//     border: 3px solid #333;
//     text-decoration: none;
//     text-align: center;
//     -webkit-user-select: none;


//     i {
//         padding-right: 5px;
//         font-size: 20px;
//         font-size: 1.45rem;
//         position: relative;
//         top: 2px;
//     }
// }

// .twitter-share-button:hover {
//    box-shadow: 0 0 2px rgba(0,0,0,0.1); 
// }

// .twitter-share-button:active {
//     box-shadow: 0 0 2px rgba(0,0,0,0.3);
//     border-radius: 10px;  
// }

// .twitter-share-button:focus {
//     background: #fff;
// }

@media screen and (min-width: 768px) {
    .twitter-share-button {
        font-size: 14px;
        font-size: 1rem;
    }  
}