

.blog-index {

    .post {
        position: relative;
        border-bottom: 3px solid $accent;
    }

    .entry-title {
        position: absolute;
        bottom: 2rem;
        background: #333;
        padding: .5rem 1rem .5rem 2rem;
        text-decoration: none;
        color: #d4d4d4;
        font-family: $header-font;
        margin-bottom: 0;
        max-width: 50%;
    }

    @media screen and (max-width:414px) {
        .entry-title {
            font-size: 24px;
            line-height: 24px;
        }
    }

    .entry-image {
        width: 100%;
        display: block;
    }

    .entry-company {
        position: absolute;
        bottom: 2rem;
        right: 0em;
        padding: .5rem 2rem .5rem 1rem;
        background: #333;
        color: #d4d4d4;
        text-transform: uppercase;
    }
}

.blog-single {

    .post {
        position: relative;
        border-bottom: 3px solid $accent;
    }

    .entry-image {
        width: 100%;
        display: block;
    }

    .article-wrapper {
        max-width: 1000px;
        width: 85%;
        position: relative;
        top: -100px;
        background: #fff;
        margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
        .article-wrapper {
            font-size: 2em;
            line-height: 1.4em;
        }
        .entry-image {
            height: 450px;
            object-fit: cover;
        }
    }

    .entry-header {
        background: #1b1c1d;
    }

    .entry-title {
        font-family: $header-font;
        font-size: 1.4em;
        color: #fff;
        padding-left: 1rem;
        width: 70%;
        float: left;
        line-height: 50px;  
    }

    .entry-company {
        font-family: $text-font;
        font-size: 1em;
        color: #fff;
        padding-right: 1rem;
        width: 30%;
        float: right;   
        line-height: 56px;  
        text-align: right;   
    }

    .entry-content {
        padding: 1rem;

        img {
            width: 100%;
        }

        blockquote {
            border-top: 3px solid $accent;
            padding-top: 2rem;
            padding-bottom: 1rem;
            border-bottom: 3px solid $accent;
            margin-bottom: 1rem;
            font-size: 2em;
            font-family: $header-font;
            line-height: 1.2em;
        }
    }

    @media screen and (min-width: 768px) {
        .entry-content {
            padding: 2em;
        }
    }

}

.twitter-share-button {
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 14px;
    padding: 1rem;
    color: #333;
    font-family: $header-font;
    margin: 0 auto 4.66rem;
    width: 185px;
    display: block;
    border: 3px solid #333;
    text-decoration: none;
    text-align: center;
    -webkit-user-select: none;


    i {
        padding-right: 5px;
        font-size: 20px;
        font-size: 1.45rem;
        position: relative;
        top: 2px;
    }
}

.twitter-share-button:hover {
   box-shadow: 0 0 2px rgba(0,0,0,0.1); 
}

.twitter-share-button:active {
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    border-radius: 10px;  
}

.twitter-share-button:focus {
    background: #fff;
}

@media screen and (min-width: 768px) {
    .twitter-share-button {
        font-size: 14px;
        font-size: 1rem;
    }  
}