#mc_embed_signup {
    background: $accent;
    padding: 3rem;
}

#mc_embed_signup .button {
    background: #fff!important;
    font-family: $header-font;
    color: #333 !important;
}

#mc_embed_signup .button:hover {
    background: #333!important;
    color: #fff!important;
}

#mc_embed_signup input.email {
    font-family: $text-font !important;
    border: 0!important;
}