.signup-form {
    border-top: 4px solid #333;
    padding: 2rem;
    background: #333;
}

.signup-label {
    font-family: $header-font;
    text-align: center;
    color: #fff;
}

.signup-input {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
    padding: 14px;
    padding: 1rem;
    border: none;
    border-radius: 3px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.signup-button {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
    font-family: $header-font;  
    padding: 14px;
    padding: 1rem; 
    background: $accent;
    border: none;
    margin-top: 7px;
    margin-top: .5rem;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

