.menu-item {
    font-family: $type-bold;
    font-size: .9rem;
    display: inline-block;
    padding: 0 .5rem;
    line-height: 28px;
    
    a {
        color: $text-light;
        text-decoration: none;
        padding-right: 2rem;
        position: relative;
        top: 1px;
    }
}

.nav {
    &__wrapper {
        font-family: $type-bold;
        background: $bgShade;
        position: absolute;
        top: 0;
        right: 0;
        height: 28px;
    }

    &__btn {
        display: none;
        font-size: 33px;
        font-size: 1.5rem;
        width: 20px;
        height: 28px;
        background: $bgShade;
        color: $text-light;
        line-height: 28px;
        text-align: right;
        cursor: pointer;
        border-radius: 0;
    }

    &__btn:hover {
        color: #d1dfe5;
        text-shadow: 0 0 35px rgba(0,0,0,1);
        transition: color .5s, text-shadow .5s;
        -webkit-transition: color .5s, box-shadow .5s;
    }

    &__subscribe {
        background: $accent;
        text-transform: uppercase;
        color: $text-dark;
        text-align: center;
        a {
            padding: 5px .5rem !important;
            color: $text-dark;
        }
    }

    &__mobile {
        position: absolute;
        top: 41px;
        z-index: 1;
        background: $bgShade;
        padding: 0 .5rem;
        width: 100%;
        li {
            display: block!important;
            text-align: center;
        }

        a {
            padding-right: 0!important;
            padding-left: 0!important;
        }

    }
}

@media screen and (max-width: 630px) {
    .nav {

        &__wrapper {
            width: 139px;
            text-align: right;
        }

        &__btn {
            display: inline-block;
        }

        &__items {
            float: left;

            li:first-child,
            li:nth-child(2),
            li:nth-child(3) {
                display: none;
            }
        }
    }
}