.nav {
    &__wrapper {
        font-family: $type-bold;
        background: $bgShade;
        position: absolute;
        top: 0;
        right: 0;
        height: 28px;
    }

    &__btn {
        display: none;
        font-size: 33px;
        font-size: 1.5rem;
        width: 20px;
        height: 28px;
        background: $bgShade;
        color: $text-light;
        line-height: 28px;
        text-align: right;
        cursor: pointer;
        border-radius: 0;
        position: relative;
        top: 1px;

        @media screen and (max-width: 631px) {
            margin-right: 2rem;
        }
    }

    &__btn:hover {
        color: #d1dfe5;
        text-shadow: 0 0 35px rgba(0,0,0,1);
        transition: color .5s, text-shadow .5s;
        -webkit-transition: color .5s, box-shadow .5s;
    }

    &__items {
        display: inline-block;
    }

    &__item {
        font-family: $type-bold;
        font-size: .9rem;
        display: inline-block;
        margin-left: 2rem;
        line-height: 28px;
        color: $text-light;

        @media screen and (max-width: 631px) {
            margin-left: 0;
        }
        
        a {
            color: $text-light;
            text-decoration: none;
            padding-right: 2rem;
            position: relative;
            top: 1px;
        }
    }

    &__subscribe {
        background: $accent;
        text-transform: uppercase;
        color: $text-dark;
        text-align: center;
        padding: 0px 1rem;
        cursor: pointer;

        @media screen and (max-width:630px) {
            position: relative;
            top: -2px;
        }
        
        a {
            padding: 5px 1rem;
            color: $text-dark;
        }
    }

    &__subscribe-popup {
        position: absolute;
        top: 69px;
        // right: 11px;
        right: 9999px;
        transition: right .5s;
        width: 490px;
        background: $bgShade;
        padding: 2.5rem 3rem 3rem;
        box-shadow: 0 0 3px #333;

        @media screen and (max-width: 515px) {
            width: 96%;
        }
    }

    &__subscribe-popup--active {
        right: 13px;
        transition: right .5s;
        
        @media screen and (max-width: 515px) {
            right: 2%;
        }
    }

    &__mobile {
        position: absolute;
        top: 41px;
        left: 0;
        z-index: 1;
        background: $bgShade;
        padding: 0 .5rem;
        width: 100%;

        li {
            display: block!important;
            text-align: center;
        }

        a {
            padding-right: 0!important;
            padding-left: 0!important;
        }

    }
}

@media screen and (max-width: 630px) {
    .nav {

        &__wrapper {
            width: 150px;
            text-align: right;
        }

        &__btn {
            display: inline-block;
        }

        &__items {
            float: left;

            li:first-child,
            li:nth-child(2),
            li:nth-child(3) {
                display: none;
            }
        }
    }
}