.single-article {

    &__image {
        width: 143px;
        height: 143px;
        object-fit: cover;
        border-radius: 143px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        display: block;
        margin: 4rem auto .5rem;
    }

    &__title {
        text-align: center;
        font-size: 2rem;
        font-family: $type-bold;
        line-height: 1.2em;
        color: $text-light;
        padding: 1rem 0 0;
        text-decoration: none;
    }

    &__company {
        text-align: center;
        font-size: 1.571rem;
        font-family: $type-medium;
        text-transform: uppercase;
        color: $text-light;
        padding: 0.5rem 0 1.5rem;
        text-decoration: none;
        border-bottom: 1px solid $text-light;
        max-width: 250px;
        margin: 0 auto;
    }

    &__quote {
        text-align: center;
        font-size: 1.571rem;
        font-family: $type-light;
        color: $text-light;
        padding: 1.5rem;
        text-decoration: none;
    }

    &__wrapper {
        margin-top: 3em;
        padding: 3em;
        background: $bgShade;
        border-top: 3px solid $accent;
    }

    &__content {
        max-width: 700px;
        margin: 0 auto;
        font-size: 1.2rem;
        line-height: 1.4em;
        color: $text-light;
        font-family: $type-medium;

        h2 {
            font-family: $type-bold;
            font-size: 1.4rem;
            color: $text-light;
            line-height: 1.2em;
        }

        a {
           color: $text-light;
           border-bottom: 3px solid $accent;
           text-decoration: none;
           &:hover {
               background: $accent;
           } 
        }

        img {
            width: 100%;
        }

        blockquote {
            border-top: 3px solid $accent;
            padding-top: 2rem;
            padding-bottom: 1rem;
            border-bottom: 3px solid $accent;
            margin-bottom: 1rem;
            font-size: 2em;
            font-family: $type-bold;
            line-height: 1.2em;
            text-align: center;
        }
    }

}

.quote {
    &__tweet {
        display: inline-block;
        font-size: 1rem;
        position: relative;
        top: -7px;
        margin: 0 1rem;
        cursor: pointer;
        font-family: $type-reg;
        padding: 0 .5rem;
        transition: border .5s;

        &:hover {
            background: $accent;
            color: $text-dark;
            border-bottom: 3px solid #fff;
            transition: border .5s;
        }

        i {
            padding-right: .5rem;
        }
    }

    // &__facebook {
    //     display: inline-block;
    //     font-size: 1rem;
    //     position: relative;
    //     top: -7px;
    //     margin: 0 1rem;
    //     cursor: pointer;
    //     font-family: $type-reg;
    //     padding: 0 .5rem;

    //     &:hover {
    //         background: $accent;
    //         border: none;
    //         color: $text-dark;
    //     }

    //     i {
    //         padding-right: .5rem;
    //     }
    // }
}

// .twitter-share-button {
//     box-shadow: 0 0 20px rgba(0,0,0,0.3);
//     border-radius: 10px;
//     padding: 14px;
//     padding: 1rem;
//     color: #333;
//     font-family: $header-font;
//     margin: 0 auto 4.66rem;
//     width: 185px;
//     display: block;
//     border: 3px solid #333;
//     text-decoration: none;
//     text-align: center;
//     -webkit-user-select: none;


//     i {
//         padding-right: 5px;
//         font-size: 20px;
//         font-size: 1.45rem;
//         position: relative;
//         top: 2px;
//     }
// }

// .twitter-share-button:hover {
//    box-shadow: 0 0 2px rgba(0,0,0,0.1); 
// }

// .twitter-share-button:active {
//     box-shadow: 0 0 2px rgba(0,0,0,0.3);
//     border-radius: 10px;  
// }

// .twitter-share-button:focus {
//     background: #fff;
// }

@media screen and (min-width: 768px) {
    .twitter-share-button {
        font-size: 14px;
        font-size: 1rem;
    }  
}