// Basic
html {
    font-size: 14px; // set our rem
}

body {
	background: #fff;
	font: 14px/21px $text-font;
	color: $text-color;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
    margin: 0 auto;
    font-family: $text-font;
}

// Links
a, a:visited { color: #333; text-decoration: underline; outline: 0; }

a:hover, a:focus { color: #000; }

p a, p a:visited { line-height: inherit; }

// Lists
ul, ol { margin-bottom: 20px; }

ul { list-style: none outside; }

ol { list-style: decimal; }

ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }

ul.square { list-style: square outside; }

ul.circle { list-style: circle outside; }

ul.disc { list-style: disc outside; }

ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }

ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }

li { line-height: 18px; margin-bottom: 12px; }

ul.large li { line-height: 21px; }

li p { line-height: 21px; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}