.footer {

    padding: 2rem;
    text-align: center;

    &__author {
        width: 100%;
        color: $text-light;
        padding-bottom: 1rem;
        
        a {
            color: $text-light;
            text-decoration: none;
            &:hover {
                border-bottom: 3px solid $accent;
            }
        }
    }

    &__twitter {
        display: inline-block;
    }

    &__facebook {
        display: inline-block;
        position: relative;
        top: -6px;
    }
}