.footer {
    padding: 2rem;
    background: $bgShade;
    text-align: center;

    &__author {
        max-width: 960px;
        margin: 0 auto;
        width: 100%;
        color: $text-light;
        font-family: $type-medium;
        
        a {
            color: $text-light;
            text-decoration: none;
            &:hover {
                border-bottom: 3px solid $accent;
            }
        }
    }
}